@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-default:sans-serif;
    --font01: "Sriracha", "cursive";
    --fonte02:"Passion One", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-default);
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;
}
header > p {
    font-size: 1.5vw;
}
header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header > p > a:hover {
    text-decoration: underline;
}
section.normal {
    padding-top: 10vw;
    padding-left: 10px;
    padding-right: 30vw;
    padding-bottom: 10vw;
    font-family: var(--font01);
}
section.normal > p {
    display: inline-block;
    font-size: 4vw;
}
section#image01 {
    background-image: url(imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.501);
}
section#image02 {
    background-image: url(imagens/background002.jpg);
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.501);

}
section#image01 > p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.519);
}
section#image02 > p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.519);
}
footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}